@import "tailwindcss";

*{font-family: 'Inter', sans-serif;}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #E6F0FF
}
::-webkit-scrollbar-thumb{
    background:#3A82A4;
    border-radius: 8px;
}